<!DOCTYPE html>

<html>

<head>
    <title>RoboTank</title>

    <style>
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }
        .column {
            flex: 1;
            padding: 0px;
        }
        video {
            max-width: 100%;
            height: auto;
        }
    </style>

    <script>
        window.onload = function() {
            // Get the HTML element where you want to display the pressed key
            const pressedKeyElement = document.getElementById("pressedKey");
            // Add an event listener to the document to capture keyboard input
            document.addEventListener("keydown", function(event) {
                // Get the key code of the pressed key
                const keyCode = event.keyCode || event.which;
                // Display the pressed key in the HTML element
                pressedKeyElement.textContent = String.fromCharCode(keyCode);
                // Send the pressed key to the server
                fetch(`http://{{ request.host }}/key?key=${String.fromCharCode(keyCode)}`);
            });
        };
    </script>

</head>

<body>
    <div class="container">
        <div class="column">
            <img src="{{ url_for('video_feed') }}" width="1400" height="1050">
            <br>
            <span id="pressedKey"></span>
        </div>
    </div>
</body>

</html>
